/bin/
/lib
/include
/db
/dbd
/data
/data/
*_BAK.adl
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
#configure/*.local
O.*/
*~
*.swp

# Eclipse project files
.project
.cproject
.settings/

# ffmpegServer vendor libraries
#vendor/ffmpeg*
#vendor/yasm*
/vendor/ffmpeg-linux-x86_64/
/vendor/yasm-linux-x86_64/
/iocs/example*
